.root .category-scroll-pane {
    -fx-background-color:transparent;
}

.root .category-tile {
    -fx-padding: 12;
    -fx-background-radius: 8;
}

.root .category-tile:hover {
    -fx-background-color: #f5f5f5;
    -fx-cursor: hand;
}

.root .category-add-tile-label {
    -fx-font-size: 40;
    -fx-text-fill: #666;
}

.main-menu-button {
    -fx-text-fill: #FFD700;
    -fx-background-color: transparent;
}

.main-menu-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}